<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.news_portal_1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SaveActivity" />
        <activity android:name=".SportActivity" />
        <activity android:name=".SportActivity2" />
        <activity android:name=".SportViewActivity" />
        <activity android:name=".EconomyActivity" />
        <activity android:name=".EconomyViewActivity" />
        <activity android:name=".SaveeconomyActivity" />
        <activity android:name=".LifeActivity" />
        <activity android:name=".LifeViewActivity" />
        <activity android:name=".SaveLifeActivity" />
    </application>

</manifest>